@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    background-color: #d7c4bc;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

.iconsupport {
    width: 30px;
    height: 30px;
}

.producedit {
    border-radius: 10px;
    box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.338);
    transition: 0.1s;
    padding: 10px;
    background-color: white;
}

.producedit:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px white;
}

#logo12 {
    display: inline-block;
    opacity: 0.8;
    position: relative;
    left: -610px;
    /*derecha e izquierda*/
    top: -10px;
    /*abajo y arriba*/
    border-radius: 10px;
    width: 80px;
    height: 80px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.312);
    transition: 0.1s;
}

#logo12:hover {
    opacity: 1;
    transform: scale(1.05);
    background-color: #ff4696;
    border-radius: 50%;
}

#menu2 {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #a90e51, #348237);
    width: 100%;
    height: 100px;
    /* margin: 10px; */
    padding: 0 20px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.391);
    position: relative;
}

.logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo-cuenta,
#casita,
#buscadoricon,
#botonbus,
#logo {
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.415);
    transition: 0.1s;
    cursor: pointer;
    width: 50px;
    height: auto;
}

#logo-cuenta {
    background-color: #49b54c;
    position: relative;
    left: 650px;
    top: 50px;
    cursor: pointer;
    /* Cambia el cursor al hacer hover sobre el logo */
}

#logo-cuenta:hover {
    transform: scale(1.1);
    background-color: #6de671;
}

#logo-cuenta:active {
    transform: scale(1);
    background-color: #6de671;
}

#cuenta1 {
    display: inline-block;
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.415);
}

#home13 {
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.415);
    display: inline-block;
    position: relative;
    left: 330px;
    /*derecha e izquierda*/
    top: -45px;
    /*abajo y arriba*/

}

#casita {
    background-color: #e41d73;
    position: relative;
    left: 195px;
    /*derecha e izquierda*/
    top: -30px;
    /*abajo y arriba*/
}

#casita:hover {
    background-color: #ff4696;
    transform: scale(1.1);
}

#casita:active {
    transform: scale(0.9);
}

#buscador {
    display: inline-block;
    width: 500px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.238);
    border: none;
    border-radius: 10px;
    box-shadow: none;
    color: white;
    position: relative;
    left: 280px;
    /*derecha e izquierda*/
    top: -50px;
    /*abajo y arriba*/
}

#buscadoricon {
    background-color: #e41d73;
    position: relative;
    left: 285px;
    /*derecha e izquierda*/
    top: -30px;
    /*abajo y arriba*/
}

#buscadoricon:hover {
    transform: scale(1.02);
    background-color: #f32d83;
}

#botonbus {
    background-color: #56cb5ad3;
}

#botonbus:hover {
    transform: scale(1.02);
    background-color: #60db64d3;
}

#botonbus:active {
    transform: scale(0.9);
    background-color: #60db64d3;
}

#divop {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #a90e51, #670932);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.452);
    transition: 0.3s;
    position: relative;
    left: 205px;
    /*derecha e izquierda*/
    top: -85px;
    /*abajo y arriba*/
}

#divop:hover {
    width: 400px;
    height: 200px;
}

#menuos {
    width: 30px;
    height: 30px;
    background-color: #e41d73;
    border-radius: 10px;
    transition: 0.1s;
    position: relative;
    left: -35px;
    /*derecha e izquierda*/
    top: 0px;
    /*abajo y arriba*/
}

#divop:hover #menuos {
    transform: scale(1.1);
    background-color: #ff549e;
    margin: 30px;
}

.submenu {
    visibility: hidden;
    position: relative;
    display: inline-block;
    margin: 0px -20px;
    padding: 10px;
    color: white;
    background-color: rgba(255, 255, 255, 0.065);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.365);
}

#divop:hover .submenu {
    visibility: visible;
    transition: 0.3s;
    margin: 0px 10px;
}

.principal {
    width: 1280px;
    height: auto;
    background-color: #EFD9CE;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.375);
    margin: 230px 80px;
    padding: 20px;
    margin-top: 5px;
    margin-left: 80px;
    /* Ajustas el margen izquierdo */
    margin-right: 80px;
    /* Ajustas el margen derecho */
}

.producto1 {
    background-color: #ffece3;
    width: 300px;
    height: 550px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.348);
    padding: 30px;
    margin: 50px auto;
}

#logo {
    background-color: #e41d73;
    display: inline-block;
}

#logo:hover {
    background-color: #ff4696;
    transform: scale(1.1);
}

#logo:active {
    transform: scale(0.9);
}

#logo-pagina {
    background-color: #49b54c;
    display: inline-block;
}

#logo-pagina:hover {
    transform: scale(1.1);
    background-color: #6de671;
}

#logo-pagina:active {
    transform: scale(1);
    background-color: #6de671;
}


#userFor {
    position: relative;
    left: -35px;
    top: 0px;
    font-weight: bold;
    color: #333;
}

.principal form {
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.principal form input[type="text"],
.principal form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.principal form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.principal form button[type="submit"]:hover {
    background-color: #3e8e41;
}

select[name="tipo_producto"] {
    position: absolute;
    top: 535px;
    left: 130px;
}
