<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Compra Exitosa</title>
    <link rel="stylesheet" href="/static/css/success.css" />
    <link real="stylesheet" href="/templates/home.html">
</head>
<body>
    <div class="container">
        <div class="success-message">
            <h1>¡Compra Exitosa!</h1>
            <p>Gracias por tu compra. Tu pedido ha sido procesado con éxito.</p>
            <img src="/static/img/success.png" alt="Compra Exitosa" />
            <a href="/" class="btn">Volver al Inicio</a>
        </div>
    </div>
</body>
</html>