<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/home.css" />
  </head>
  <body>
    <div class="madre">
      <div id="menu2">
        <form
          action="/agregar_telefono"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="logo-section">
            <img
              id="logo-cuenta"
              class="iconmenus"
              src="/static/img/icons3/usuario.png"
              alt="logo de cuenta"
            />
            <span id="username-display">{{ username }}</span>
          </div>

          <h1 id="home13">Home</h1>
          <img
            id="casita"
            class="iconmenus"
            src="/static/img/icons3/casa.png"
            alt="home"
          />
          <input id="buscador" type="text" placeholder="Buscar Producto!" />

          <img
            id="buscadoricon"
            class="iconmenus"
            src="/static/img/icons3/lupa.png"
            alt="logo de buscador"
          />
          <img
            id="logo12"
            class="iconmenus"
            src="/static/img/icons3/logo_tienda_cs50.png"
            alt="logo de la pagina"
          />

          <input
            type="text"
            name="nombre"
            placeholder="Nombre del Producto"
            required
          />
          <input type="text" name="precio" placeholder="Precio" required />
          <input type="file" name="imagen" required />
          <button type="submit">Agregar Producto</button>
        </form>
      </div>
      <div id="divop">
        <p class="submenu">contactanos</p>
        <p class="submenu">carrito</p>
        <img
          id="menuos"
          class="iconmenus"
          src="/static/img/icons3/menu.png"
          alt="logo de menu"
        />
      </div>

      <section class="principal">
        <p>Derechos Reservados</p>
        {% for producto in productos %}
        <div class="producto1">
          <p>{{ producto[1] }}</p>
          <img class="producedit" src="{{ producto[3] }}" alt="producto" />
          <ul>
            <li>Precio: ${{ producto[2] }}</li>
          </ul>
        </div>
        {% endfor %}
      </section>

      <footer>
        <p>Derechos Reservados</p>
        <p>contactanos</p>
        <a href="#"
          ><img
            class="iconsupport"
            src="/static/img/icons2/facebook.png"
            alt="facebook"
        /></a>
        <a href="#"
          ><img
            class="iconsupport"
            src="/static/img/icons2/gmail.png"
            alt="soluxbot@gmail.com"
        /></a>
        <a href="#"
          ><img
            class="iconsupport"
            src="/static/img/icons2/gorjeo (1).png"
            alt="twitter"
        /></a>
      </footer>
    </div>
    <script src="/static/js/home.js"></script>
  </body>
</html>
